* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 80%;
    margin: 20px auto;
    display:flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 60%;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 0 10px;
}

form {
    background-color: #929292;
    color: white;
    padding:20px;
}

label {
    display: block;
    margin: 10px 0;
}

input{
    padding:10px;
    width:100%
}

select {
    padding: 10px;
    width:100%;
}

button {
    padding:10px;
    background-color:darkorchid;
    color: white;
    display: block;
    margin-top: 10px;
    border: 1px solid white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:10px;
}

table {
    width:60%;
    margin: 0 auto;
    text-align: center;
}

th, tr:nth-child(even) {
    background-color: #929292;
}