* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

main {
    width: 50%;
}

button {
    padding: 15px;
}

#add {
    background-color: peachpuff;
}

#reset {
    background-color: palegreen;
}