<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="/update_user" method="POST">
        <label>First Name:</label>
        <input name="first_name" value="{{user.first_name}}" type="text">
        <label>Last Name:</label>
        <input name="last_name" value="{{user.last_name}}" type="text">
        <label>Email:</label>
        <input name="email" value="{{user.email}}" type="text">
        <button type="submit">Update</button>
    </form>

    <a href="/"><p>Home</p></a>
    <a href="/"><p>Show User</p></a>
</body>
</html>